/* General stuffs */
* {
    box-sizing: border-box;
    /* changes width property to total width instead of content width */
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have any older browsers that don't recognize the HTML5 semantic elements */
}

/* Header Layout */
.mainNav ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style-type: none;
    font-size: .8em;
    padding: 0;
    margin: 0em;
}
.mainNav {
    padding: .25em;

}
#banner {
    min-height: 250px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0em;
}

#quote {
    width: 75%;
    margin: auto;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
}
#quoteAttribution {
    text-align: center;
}

/* Main Layout */
main {
    display: flex;
    flex-flow: row wrap;
}
#quickNav {
    width: 30%;
    min-width: 150px;
    margin-left: 2em;
    padding: 2em;
    position: fixed;
    right: 3%;
    list-style-type: none;
}

.scriptures {
    max-width: 60%;
}
.wireFrames {
    min-width: 100%;
}

/* Header Styles */
#banner {
    background-image: url("images/scriptures-480x270-AV080326_cah057.jpg");
    background-size: cover;

}
#quote, .mainNav, footer {
    background-color: rgba(10, 110, 27, .8);
    color: white;
}

/* Main Styles */
#quickNav ul {
    list-style-type: none;
}
#quickNav {
    background-color: rgba(10, 110, 27, .8);
    color: white;
    border: 1px solid;
    border-radius: 10px;
}
nav a:link {
    font-family: Lora, Abril, serif;
    text-decoration: none;
    color: #FFC958;
}

nav a:visited {
    text-decoration: none;
    color: #FFC958;
}
nav a:hover {
    text-decoration: none;
    color: #1A3681;
}

nav a:active {
    text-decoration: none;
    color: #1A3681;
}
/* Large Screen */

